superbadges/superbadge_flow_error_handling_sbu/force-app/main/default/flows/Consent_Capture_for_Main_Stage_Analytics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the Data Use Purpose Error Message</description>
        <name>Assign_Data_Use_Purpose_Error</name>
        <label>Assign Data Use Purpose Error</label>
        <locationX>358</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>dataUsePurposeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You must select a Data Use Purpose to Continue! </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Consent_Purpose_Selector</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the SObject type that is being associated with the new Individual record.</description>
        <name>Check_SObject_Type</name>
        <label>Check SObject Type</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactDetails</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLeadDetails</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the SObject type that is being associated with the new Individual record.</description>
        <name>Check_SObject_Type_Again</name>
        <label>Check SObject Type</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContactAgain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactRecord</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLeadAgain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadRecord</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Test to see if the individual has been created, if it has then we can create Contact Point Type Consent Records, if not, we must create an individual record.</description>
        <name>Is_Individual_Set</name>
        <label>Is Individual Set?</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>individualId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Purpose_Selector</targetReference>
            </connector>
            <label>Individual Set</label>
        </rules>
        <rules>
            <name>Individual_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>individualId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SObject_Type</targetReference>
            </connector>
            <label>Individual Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify The Consent Purpose Screen Input</description>
        <name>Verify_Consent_Purpose</name>
        <label>Verify Consent Purpose</label>
        <locationX>358</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PurposeSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataUsePurposeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Point_Type</targetReference>
            </connector>
            <label>PurposeSet</label>
        </rules>
        <rules>
            <name>PurposeNotSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dataUsePurposeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_Use_Purpose_Error</targetReference>
            </connector>
            <label>PurposeNotSet</label>
        </rules>
    </decisions>
    <description>Consent Capture allows you to give your users the power to create Contact Point Type Consent Records directly from their Lead and Contact records!</description>
    <environments>Default</environments>
    <formulas>
        <description>The concatenation of the Contact Point Type Name &amp; Data Use Purpose Name</description>
        <name>contactPointTypeConsentName</name>
        <dataType>String</dataType>
        <expression>{!contactPointConsentType}&amp;&quot; - &quot;&amp;{!dataUsePurposeName}</expression>
    </formulas>
    <formulas>
        <description>Calculate the effective to date by an average of 30 days per month multiplied by the month</description>
        <name>effectiveTo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ({!effectiveToInMonths}*30)</expression>
    </formulas>
    <interviewLabel>Consent Capture for Main Stage Analytics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Capture for Main Stage Analytics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the complied Contact Point Type Consent Record</description>
        <name>Create_Contact_Point_Type_Consent</name>
        <label>Create Contact Point Type Consent</label>
        <locationX>94</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Create_Individual_Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CaptureContactPointType</field>
            <value>
                <elementReference>captureContactPointType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureSource</field>
            <value>
                <elementReference>Capture_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointType</field>
            <value>
                <elementReference>contactPointConsentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataUsePurposeId</field>
            <value>
                <elementReference>dataUsePurposeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveFrom</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveTo</field>
            <value>
                <elementReference>effectiveTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contactPointTypeConsentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyId</field>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <elementReference>consentStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
    </recordCreates>
    <recordCreates>
        <description>Create the Individual Record Associated to this person.</description>
        <name>createIndividualRecord</name>
        <label>createIndividualRecord</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>individualId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_SObject_Type_Again</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordLookups>
        <description>Query the contact details for the new individual record that is being created.</description>
        <name>getContactDetails</name>
        <label>getContactDetails</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createIndividualRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>firstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Query the lead details for the new individual record that is being created.</description>
        <name>getLeadDetails</name>
        <label>getLeadDetails</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createIndividualRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>firstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Contact record with the new Individual Id.</description>
        <name>updateContactRecord</name>
        <label>updateContactRecord</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Individual_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Lead record with the new Individual Id.</description>
        <name>updateLeadRecord</name>
        <label>updateLeadRecord</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Individual_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <description>The consent capture home screen, this should start with the Consent Capture Component.</description>
        <name>Consent_Capture_Home</name>
        <label>Consent Capture Home</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Individual_Set</targetReference>
        </connector>
        <fields>
            <name>ConsentCaptureDisplayComponent</name>
            <extensionName>concap:conCapDisplayAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>individualId</assignToReference>
                <name>individualId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sObjectType</assignToReference>
                <name>sObjectType</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>How did you capture consent from the individual</description>
        <name>Consent_Capture_How</name>
        <label>Consent Capture How</label>
        <locationX>94</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact_Point_Type_Consent</targetReference>
        </connector>
        <fields>
            <name>Capture_Source</name>
            <dataType>String</dataType>
            <fieldText>How did you acquire this consent?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>conCaptureTypeAura</name>
            <extensionName>concap:conCapCaptureTypeAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>captureContactPointType</assignToReference>
                <name>captureType</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Use the Consent Purpose Selector to determine the Contact Point Type Consent record.</description>
        <name>Consent_Purpose_Selector</name>
        <label>Consent Purpose Selector</label>
        <locationX>358</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Consent_Purpose</targetReference>
        </connector>
        <fields>
            <name>ConCapPurposesAura</name>
            <extensionName>concap:conCapPurposesAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dataUsePurposeId</assignToReference>
                <name>dataUsePurposeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dataUsePurposeName</assignToReference>
                <name>dataUsePurposeName</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayDataUsePurposeError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!dataUsePurposeError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The Consent Capture Starting Instructions</description>
        <name>ConsentCaptureStart</name>
        <label>ConsentCaptureStart</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consent_Capture_Home</targetReference>
        </connector>
        <fields>
            <name>ConsentCaptureStartInstructions</name>
            <fieldText>&lt;h1&gt;&lt;b&gt;View and Modify Consent Records&lt;/b&gt;&lt;/h1&gt;&lt;p&gt;You have the ability to:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;View available data use purposes&lt;/li&gt;&lt;li&gt;View expired and opt-out data use purposes&lt;/li&gt;&lt;li&gt;Create contact consent records&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Select Next to Begin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select the contact point type associated to the consent record.</description>
        <name>Contact_Point_Type</name>
        <label>Contact Point Type</label>
        <locationX>94</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Point_Type_Consent_Form</targetReference>
        </connector>
        <fields>
            <name>conCapTypesAura</name>
            <extensionName>concap:conCapTypesAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactPointConsentType</assignToReference>
                <name>contactPointConsentType</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The final form for creating the Contact Point Type Consent record.</description>
        <name>Contact_Point_Type_Consent_Form</name>
        <label>Contact Point Type Consent Form</label>
        <locationX>94</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consent_Capture_How</targetReference>
        </connector>
        <fields>
            <name>conCapEffectiveToAura</name>
            <extensionName>concap:conCapEffectiveToAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>effectiveToInMonths</assignToReference>
                <name>effectiveMonths</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>conCapStatus</name>
            <extensionName>concap:conCapStatusAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>consentStatus</assignToReference>
                <name>statusType</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Individual_Success</name>
        <label>Create Individual Success</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consent_Purpose_Selector</targetReference>
        </connector>
        <fields>
            <name>IndividualSuccessMessage</name>
            <fieldText>&lt;p&gt;You have created a new individual record for the selected individual Press &apos;Next&apos; to create their first consent record!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create Individual Success Screen</description>
        <name>Create_Individual_Success_0</name>
        <label>Create Individual Success</label>
        <locationX>94</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IndividualSuccessMessage_0</name>
            <fieldText>&lt;p&gt;You have created a new Contact Point Type Consent record!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>concap__Consent_Capture_Flow_Template</sourceTemplate>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConsentCaptureStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Capture Contact Point Type passed from the component.</description>
        <name>captureContactPointType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Consent Status Selector brought back from the web component.</description>
        <name>consentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The contact point consent type value set from the component.</description>
        <name>contactPointConsentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the contact Details for the new Individual being created.</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>dataUsePurposeError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Data Use Purpose Id will be used to create the contact point type consent record.</description>
        <name>dataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Name of the selected Data Use Purpose record</description>
        <name>dataUsePurposeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The total months that this consent record is active.</description>
        <name>effectiveToInMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The number of months that this consent record is active.</description>
        <name>effectiveToMonths</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The First Name of the Individual that is about to be created.</description>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The individualId drives communication between consent capture and the records that the flow is exposed on.</description>
        <name>individualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Name of the Individual that is about to be created.</description>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the contact details for the new individual record that is being created.</description>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>The recordId should be passed from the page that the flow is exposed on.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the SObject Type that is returned from the Consent Capture Component for use when creating the individual record.</description>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
